@import '../../scss/base';

.bitcoinstats-component {
  .card-header {
    position: relative;
    .icon-button {
      @include v-center(absolute);
      right: 24px;
      @media only screen and (max-width: 450px) {
        right: 12px;
      }
    }
   
}
.card-content {
  padding: 0 !important;
  overflow: hidden;
  .recharts-responsive-container {
    transform: translate(-5px,-5px);
    width: calc(100% + 10px) !important;
    height: calc(100% + 10px) !important;
  }
}

}
